@import '/src/assets/styles/vars.scss';

@mixin botaoPrimario {
    color: var(--branco);
    background-color: var(--primaria03);
    border: 1px solid transparent;
}

@mixin botaoOutline {
    background-color: var(--branco);
    color: var(--primaria03);
    border: 1px solid var(--primaria03);
}

@mixin botaoTexto {
    background-color: transparent;
    color: var(--primaria03);
    text-decoration: underline;
    border: none;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &.primaria {
        @include botaoPrimario;

        &:hover {
            @include botaoOutline;
        }
    }

    &.outline {
        @include botaoOutline;

        &:hover {
            @include botaoPrimario;
        }
    }

    &.texto {
        @include botaoTexto;
    }

    &:disabled {
        opacity: 0.5;
    }

    &.botaoPublico {
        margin-top: 40px;
        padding: 12px;
        font-size: 16px;
    }

    &.botaoModalAvatar {
      font-size: 14px;
      font-weight: 600;

      padding: 12px;
      border-radius: 8px;
      width: 100px;

      @media screen and (min-width: $desktopBreakpoint) {
        font-size: 16px;
        font-weight: 600;

        padding: 14px;
        border-radius: 8px;
        width: 150px;
      }
    }
}
