@import '/src/assets/styles/vars.scss';

.containerPaginaPublica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px 32px;
    background-color: var(--branco);

    .containerConteudo {
        width: 100%;
    }

    .containerLogo {
      display: flex;
      justify-content: center;

      .logo {
          width: 100%;
          max-width: 300px;
      }

      margin-bottom: 40px;
    }

    &.cadastro {
      .containerLogo {
        display: none;
      }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        flex-direction: row;
        padding: 0px 140px;

        .containerLogo {
            flex: 2;
            height: 40%;

            margin-bottom: 0;
        }

        .containerConteudo {
            flex: 1;
            border: 1px solid var(--primaria03);
            border-radius: 26px;
            padding: 55px;
        }
    }
}
