@import '/src/assets/styles/vars.scss';

.avatar {
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 8px;
    border: 2px solid var(--cinza03);
    overflow: hidden;

    background-color: #f0f5ff;

    .avatarImg {
      width: 90%;

      position: absolute;
      top: 5%;
      right: 5%;

      pointer-events: none;
      user-select: none;
    }

    &.avatarCadastro {
      height: 120px;
      width: 120px;
      border: 4px solid var(--primaria03);

      .avatarImg {
        width: 70%;

        position: absolute;
        top: 5%;
        right: 15%;

        pointer-events: none;
      }
    }

    &.footer {
      height: 31px;
      width: 31px;
    }
}
