<div class="container-objects" (keyup.arrow)="moveSelected($event)">
  <div class="grid">
    <div *ngIf="!onlyView" class="line column one"></div>
    <div *ngIf="!onlyView" class="line column two"></div>
    <div *ngIf="!onlyView" class="line column three"></div>
    <div *ngIf="!onlyView" class="line column four"></div>
    <div *ngIf="!onlyView" class="line column five"></div>
    <div *ngIf="!onlyView" class="line column six"></div>
    <div *ngIf="!onlyView" class="line column seven"></div>
    <div *ngIf="!onlyView" class="line row one"></div>
    <div *ngIf="!onlyView" class="line row two"></div>
    <div *ngIf="!onlyView" class="line row three"></div>
    <div *ngIf="!onlyView" class="line row four"></div>
    <div *ngIf="!onlyView" class="line row five"></div>
    <div *ngIf="!onlyView" class="line row six"></div>
    <div *ngIf="!onlyView" class="line row seven"></div>
    <img
      *ngFor="let object of objects"
      [src]="getImageFromObject(object)"
      [ngStyle]="getObjectStyle(object)"
      [ngClass]="getClassObject(object)"
      (click)="selectObject(object)"
    />
  </div>
  <div *ngIf="!onlyView" class="actions">
    <div
      (click)="removeObject.emit(selected)"
      [ngClass]="{ active: selected?._id }"
    >
      <img src="assets/images/trashcan.svg" alt="Deletar objeto" />
    </div>
    <div
      [ngClass]="{
        active:
          selected?.canRotate ||
          selected?.type === 'chair' ||
          selected?.type === 'couch'
      }"
      (click)="rotateObject.emit({ selected, to: 'right' })"
    >
      <img src="assets/images/rotate-right.svg" alt="Girar a direita" />
    </div>
    <div
      [ngClass]="{
        active:
          selected?.canRotate ||
          selected?.type === 'chair' ||
          selected?.type === 'couch'
      }"
      (click)="rotateObject.emit({ selected, to: 'left' })"
    >
      <img src="assets/images/rotate-left.svg" alt="Girar a esquerda" />
    </div>
  </div>
</div>
