<app-dashboard active="edit">
  <section left>
    <app-meet-name-n-color
      title="Editar reunião"
      [nameControl]="getFormRef('name')"
      [selectedColor]="selectedColor"
      (changeColor)="changeColor($event)"
    ></app-meet-name-n-color>
    <div class="objects">
      <app-meet-object-picker
        title="Paredes"
        iconSrc="assets/images/object-icons/wall.svg"
        [asset]="objects.wall"
        (setObject)="setObject($event)"
      ></app-meet-object-picker>
      <app-meet-object-picker
        title="Pisos"
        iconSrc="assets/images/object-icons/floor.svg"
        [asset]="objects.floor"
        (setObject)="setObject($event)"
      ></app-meet-object-picker>
      <app-meet-object-picker
        title="Tapetes"
        iconSrc="assets/images/object-icons/rug.svg"
        [asset]="objects.rug"
        (setObject)="setObject($event)"
      ></app-meet-object-picker>
      <app-meet-object-picker
        title="Mesas"
        iconSrc="assets/images/object-icons/table.svg"
        [asset]="objects.table"
        (setObject)="setObject($event)"
      ></app-meet-object-picker>
      <app-meet-object-picker
        title="Cadeiras"
        iconSrc="assets/images/object-icons/chair.svg"
        [asset]="objects.chair"
        (setObject)="setObject($event)"
      ></app-meet-object-picker>
      <app-meet-object-picker
        title="Sofas"
        iconSrc="assets/images/object-icons/couch.svg"
        [asset]="objects.couch"
        (setObject)="setObject($event)"
      ></app-meet-object-picker>
      <app-meet-object-picker
        title="Decorações"
        iconSrc="assets/images/object-icons/majest.svg"
        [asset]="objects.decor"
        (setObject)="setObject($event)"
      ></app-meet-object-picker>
      <app-meet-object-picker
        title="Plantas"
        iconSrc="assets/images/object-icons/plant.svg"
        [asset]="objects.nature"
        (setObject)="setObject($event)"
      ></app-meet-object-picker>
    </div>
    <div class="buttons">
      <app-button
        (click)="onCancel()"
        classeCss="botaoModalAvatar"
        texto="Voltar"
        cor="texto"
      ></app-button>
      <app-button
        cor="primaria"
        classeCss="botaoModalAvatar"
        texto="Salvar"
      ></app-button>
    </div>
  </section>
  <app-meet-canvas
    right
    [objects]="objectsFromMeet"
    [selected]="selected"
    (setSelected)="setSelected($event)"
    (removeObject)="removeObject($event)"
    (rotateObject)="rotateObject($event)"
    (moveObject)="moveObject($event)"
  ></app-meet-canvas>
</app-dashboard>
