<app-publica
  classeCssLogo="cadastro"
  textoBotaoSubmit="Cadastrar"
  (submiterFormulario)="aoSubmeter()"
>
  <app-upload-avatar conteudoFormulario (aoAtualizarImagem)="openDialog()">
    <app-avatar [src]="avatarSrc" classeCss="avatarCadastro"></app-avatar>
  </app-upload-avatar>
  <app-input
    conteudoFormulario
    tipo="text"
    placeholder="Nome Completo"
    imagem="assets/images/user.svg"
    [referenciaFormulario]="getFormRef('nome')"
  ></app-input>
  <app-input
    conteudoFormulario
    tipo="email"
    placeholder="E-mail"
    imagem="assets/images/email.svg"
    [referenciaFormulario]="getFormRef('email')"
  ></app-input>
  <app-input
    conteudoFormulario
    tipo="password"
    placeholder="Senha"
    imagem="assets/images/key.svg"
    [referenciaFormulario]="getFormRef('password')"
  ></app-input>
  <app-input
    conteudoFormulario
    tipo="password"
    placeholder="Confirmar Senha"
    imagem="assets/images/key.svg"
    [referenciaFormulario]="getFormRef('confirmPass')"
  ></app-input>
  <app-cta-footer
    pergunta="Já possui uma conta?"
    textoDaAcao="Faça seu login agora!"
    rota="/"
    rodape
  ></app-cta-footer>
</app-publica>
