@use '@angular/material' as mat;
@include mat.core();

$primary-palette: mat.define-palette(
  (
    50 : #e5f9fa,
    100 : #beeff2,
    200 : #92e5e9,
    300 : #66dbe0,
    400 : #46d3da,
    500 : #25cbd3,
    600 : #21c6ce,
    700 : #1bbec8,
    800 : #16b8c2,
    900 : #0dacb7,
    A100 : #e5fdff,
    A200 : #b2f9ff,
    A400 : #7ff5ff,
    A700 : #65f3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
  )
);

$devameet-angular-primary: mat.define-palette($primary-palette);
$devameet-angular-accent: mat.define-palette($primary-palette);
$devameet-angular-warn: mat.define-palette(mat.$red-palette);

$devameet-angular-theme: mat.define-light-theme((
  color: (
    primary: $devameet-angular-primary,
    accent: $devameet-angular-accent,
    warn: $devameet-angular-warn,
  )
));

@include mat.all-component-themes($devameet-angular-theme);

/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts.scss';
@import './assets/styles/vars.scss';

:root {
  --fontRegular: 'Biennale Regular', sans-serif;
  --fontBold: 'Biennale Bold', sans-serif;
  --fontLight: 'Biennale Light', sans-serif;

  --primaria01: #3BD42D;
  --primaria02: #5E49FF;
  --primaria03: #25CBD3;
  --primaria04: #F0F5FF;

  --branco: #FFFFFF;
  --cinza01: #DADADA;
  --cinza02: #7C7786;
  --cinza03: #4D4C4D;
  --cinza04: #333333;
  --cinza00: #F4F4F4;

  --selecao: #FD4343;
  --vermelho: #FF0000;
  --muted: #FF3049;
}

* {
  font-family: var(--fontRegular);
  font-size: 14px;
}

html,
body {
  height: 100%;
  margin: 0;
}

// Breakpoints

.desktop {
  display: none;

  @media screen and (min-width: $desktopBreakpoint) {
    display: block;
  }
}

.mobile {
  display: block;

  @media screen and (min-width: $desktopBreakpoint) {
    display: none !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
